## Prototype Notebook
2.28.24

In [11]:
import pandas as pd
from lime.modules.views.agg.collect import build_data
from lime.modules.views.agg.query import (
    sheet_by_model_pct_correct,
    all_sheets_all_questions,
    input_by_model,
    format_multi_index,
)

In [79]:
results_fp = '../../datasets/tmp/newsheet/'
!ls {results_fp}

complete1.md
input-variable-1.md
input-variable-2.md
output-variable-1-gpt-3.5-turbo-3df9.json
output-variable-1-mistral_hf_7b-3922.json
output-variable-1-mistral_hf_7b-aad1.json
output-variable-2-gpt-3.5-turbo-3df9.json
output-variable-2-gpt-3.5-turbo-5673.json
output-variable-2-gpt-3.5-turbo-aee0.json
output-variable-2-mistral_hf_7b-077d.json
output-variable-2-mistral_hf_7b-5685.json
output-variable-2-mistral_hf_7b-b001.json
output-variable-2-mistral_hf_7b-f3cf.json
tmp

In [76]:
data = build_data(results_fp)

In [77]:
data.dtypes

name             object
meta_data        object
gen_params       object
ground_truth     object
question_usr     object
question_sys     object
completion       object
error            object
eval_time       float64
ntokens_usr      object
ntokens          object
grade_style      object
grade_bool       object
grade_error      object
grade_metric     object
grade_detail     object
input_name       object
input_fn         object
model_name       object
run_id           object
dtype: object

In [78]:
data.head(3)

,name,meta_data,gen_params,ground_truth,question_usr,question_sys,completion,error,eval_time,ntokens_usr,ntokens,grade_style,grade_bool,grade_error,grade_metric,grade_detail,input_name,input_fn,model_name,run_id
0,Q-1,"{'temperature': '1.0', 'seed': '1'}","{'temperature': 1.0, 'seed': 1}",,,List 3 good places to visit in the world.\n,None,submit_prompt() got an unexpected keyword argu...,0.357762,None,"{'usr': 0, 'sys': 11, 'cmp': -1}",fuzzy,None,None,None,None,Variable-1,./input-variable-1.md,gpt-3.5-turbo,3df9
1,Q-2,"{'temperature': '1.0', 'seed': '1'}","{'temperature': 1.0, 'seed': 1}",,,List 3 good places to visit in the world.\n,None,submit_prompt() got an unexpected keyword argu...,0.000000,None,"{'usr': 0, 'sys': 11, 'cmp': -1}",fuzzy,None,None,None,None,Variable-1,./input-variable-1.md,gpt-3.5-turbo,3df9
0,Q-1,"{'temperature': '1.0', 'seed': '1'}","{'temperature': 1.0, 'seed': 1}",,,List 3 good places to visit in the world.\n,"Based on their natural beauty, cultural signi...",None,12.721616,None,"{'usr': 1, 'sys': 13, 'cmp': 52}",fuzzy,True,None,None,None,Variable-1,input-variable-1.md,mistral_hf_7b,3922

In [32]:
def justify(text, width=None):
    if width is None:
        return text
    try:
        fmt_text = ''
        words = text.split(' ')
        while len(words) > 0:
            line = ''
            while len(words) > 0 and len(line) + len(words[0]) < width:
                line += words.pop(0) + ' '
            fmt_text += line + '<br>'
        return fmt_text
    except:
        return 'error in justify'

In [43]:
df.dtypes.get('completion') == 'object'

True

In [46]:
from typing import List, Dict, Any

In [50]:
def fmt_text_field(
        df: pd.DataFrame, 
        col_name: str,
        replaces: list = [], # TODO - fix
        max_width: int = None,
        max_height: int = None,
        max_chars: int = None,
    ) -> pd.DataFrame:
    if df.dtypes.get(col_name) != 'object':
        Warning(f'Column {col_name} is not an object type')
        return df
    texts = df[col_name]
    if max_width:
        texts = texts.str.wrap(max_width)
    if max_height:
        texts = texts.map(lambda x: '\n'.join(x.split('\n')[:max_height]))
    if max_chars:
        texts = texts.map(lambda x: x[:max_chars] + '...' if len(x) > max_chars else '')
    for replace in replaces:
        target, replacement = replace
        texts = texts.str.replace(target, replacement, regex=False)
    df[col_name] = texts
    return df

In [52]:
text

"When converting data to a Markdown table using pandas' to_markdown method, line breaks within a cell can indeed cause formatting issues, as Markdown tables generally don't support multi-line rows well. However, you can use HTML within Markdown to some extent, depending on the Markdown renderer you're using. One workaround is to replace line breaks in your completion column with <br> HTML tags before converting the DataFrame to Markdown. This approach allows you to display the content with visual line breaks when rendered in environments that support HTML within Markdo"

In [71]:
data = pd.DataFrame({'a': [text, text]})

out = fmt_text_field(
        data,
        'a',
        # max_chars=100
        max_width=30,
        max_height=3,
        # replaces=[('\n', '<br>')],
    )

print(out.a[0])

When converting data to a
Markdown table using pandas'
to_markdown method, line

In [39]:
print(pd.Series(text).str.wrap(20)[0])

When converting data
to a Markdown table
using pandas'
to_markdown method,
line breaks within a
cell can indeed
cause formatting
issues, as Markdown
tables generally
don't support multi-
line rows well.
However, you can use
HTML within Markdown
to some extent,
depending on the
Markdown renderer
you're using. One
workaround is to
replace line breaks
in your completion
column with <br>
HTML tags before
converting the
DataFrame to
Markdown. This
approach allows you
to display the
content with visual
line breaks when
rendered in
environments that
support HTML within
Markdo

In [33]:
text = """When converting data to a Markdown table using pandas' to_markdown method, line breaks within a cell can indeed cause formatting issues, as Markdown tables generally don't support multi-line rows well. However, you can use HTML within Markdown to some extent, depending on the Markdown renderer you're using. One workaround is to replace line breaks in your completion column with <br> HTML tags before converting the DataFrame to Markdown. This approach allows you to display the content with visual line breaks when rendered in environments that support HTML within Markdo"""
print(justify(text, 30))

When converting data to a <br>Markdown table using pandas' <br>to_markdown method, line <br>breaks within a cell can <br>indeed cause formatting <br>issues, as Markdown tables <br>generally don't support <br>multi-line rows well. <br>However, you can use HTML <br>within Markdown to some <br>extent, depending on the <br>Markdown renderer you're <br>using. One workaround is to <br>replace line breaks in your <br>completion column with <br> <br>HTML tags before converting <br>the DataFrame to Markdown. <br>This approach allows you to <br>display the content with <br>visual line breaks when <br>rendered in environments that <br>support HTML within Markdo <br>

In [ ]:
def shorten_text(text, max_chars=30):
    if len(text) > max_chars:
        return text[:max_chars] + '...'
    else:
        return text

In [36]:
data = build_data(results_fp)

data['completion'] = data['completion'].str.replace('\n', '<br>', regex=False)

max_chars = 50
data['completion'] = data['completion'].map(lambda text: justify(text, max_chars))

data = data[data.input_name == 'Variable-2']
data = data[data.model_name == 'mistral_hf_7b']
index_cols = ['name', 'run_id']
# index_cols += ['gen_params']
# index_cols += ['grade_style']
print(index_cols)
df = (data
    .groupby(by=index_cols)
    .agg({
        'completion': lambda x: ''.join(x),
        
    })
)
df

['name', 'run_id']

                                                    completion
name run_id
Q-1  077d     1. Paris, France: Known as the "City of Light...
     5685     1. Paris, France: Known as the "City of Light...
     b001     1. Paris, France: Known as the "City of Light...
     f3cf     1. Paris, France: Known as the "City of Light...
Q-2  077d     1. Ava: This name is of Hebrew origin and mea...
     5685     1. Ava: This name is of Hebrew origin and mea...
     b001     1. Ava: This name means "life" or "breath" in...
     f3cf     1. Ava: This name is derived from the Hebrew ...

In [28]:
print(format_multi_index(df).to_markdown(index=False))

| name   | run_id   | completion                                                                                                                                                                                                                                |
|:-------|:---------|:------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Q-1    | 077d     | 1. Paris, France: Known as the "City of Light," <br>Paris is famous for its iconic landmarks such as <br>the Eiffel Tower, Louvre Museum, Notre-Dame <br>Cathedral, and Montmartre. <br>                                                  |
| Q-1    | 5685     | 1. Paris, France: Known as the "City of Light," <br>Paris is famous for its iconic landmarks such as <br>the Eiffel Tower, Louvre Museum, Notre-Dame <br>Cathedral, and Montmartre. <br>                                                  |
| Q-1    | b001     | 1. Paris, France: Known as the "City of Light," <br>Paris is famous for its iconic landmarks such as <br>the Eiffel Tower, Louvre Museum, Notre Dame <br>Cathedral, and Champs-Ély <br>                                                   |
| Q-1    | f3cf     | 1. Paris, France: Known as the "City of Light," <br>Paris is renowned for its art, culture, and <br>romantic atmosphere. Some must-visit attractions <br>include the Eiffel Tower, Louvre Museum, Notre- <br>                             |
| Q-2    | 077d     | 1. Ava: This name is of Hebrew origin and means <br>"life" or "breath." It's a popular name for both <br>girls and boys, but more commonly used for <br>girls.<br><br>2. Oliver: This name <br>                                           |
| Q-2    | 5685     | 1. Ava: This name is of Hebrew origin and means <br>"life" or "breath." It's a popular name for both <br>girls and boys, but more commonly used for <br>girls.<br><br>2. Oliver: This name <br>                                           |
| Q-2    | b001     | 1. Ava: This name means "life" or "breath" in <br>Hebrew and is a popular name for baby girls. It's <br>simple, elegant, and timeless.<br><br>2. Oliver: <br>This name means " <br>                                                       |
| Q-2    | f3cf     | 1. Ava: This name is derived from the Hebrew <br>origin meaning "life" or "breath." It is a <br>popular and timeless name that has been <br>consistently ranked among the top baby names for <br>girls in various countries.<br><br> <br> |

In [10]:
print(df.to_markdown())

|                 | completion                                                                                                                                                                                                   |
|:----------------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| ('Q-1', '077d') | 1. Paris, France: Known as the "City of Light," Paris is famous for its iconic landmarks such as the Eiffel Tower, Louvre Museum, Notre-Dame Cathedral, and Montmartre.                                      |
| ('Q-1', '5685') | 1. Paris, France: Known as the "City of Light," Paris is famous for its iconic landmarks such as the Eiffel Tower, Louvre Museum, Notre-Dame Cathedral, and Montmartre.                                      |
| ('Q-1', 'b001') | 1. Paris, France: Known as the "City of Light," Paris is famous for its iconic landmarks such as the Eiffel Tower, Louvre Museum, Notre Dame Cathedral, and Champs-Ély                                       |
| ('Q-1', 'f3cf') | 1. Paris, France: Known as the "City of Light," Paris is renowned for its art, culture, and romantic atmosphere. Some must-visit attractions include the Eiffel Tower, Louvre Museum, Notre-                 |
| ('Q-2', '077d') | 1. Ava: This name is of Hebrew origin and means "life" or "breath." It's a popular name for both girls and boys, but more commonly used for girls.                                                           |
|                 |                                                                                                                                                                                                              |
|                 | 2. Oliver: This name                                                                                                                                                                                         |
| ('Q-2', '5685') | 1. Ava: This name is of Hebrew origin and means "life" or "breath." It's a popular name for both girls and boys, but more commonly used for girls.                                                           |
|                 |                                                                                                                                                                                                              |
|                 | 2. Oliver: This name                                                                                                                                                                                         |
| ('Q-2', 'b001') | 1. Ava: This name means "life" or "breath" in Hebrew and is a popular name for baby girls. It's simple, elegant, and timeless.                                                                               |
|                 |                                                                                                                                                                                                              |
|                 | 2. Oliver: This name means "                                                                                                                                                                                 |
| ('Q-2', 'f3cf') | 1. Ava: This name is derived from the Hebrew origin meaning "life" or "breath." It is a popular and timeless name that has been consistently ranked among the top baby names for girls in various countries. |